In [932]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [933]:
amount_data = pd.read_csv('dataset/Project Dataset/amount_data.csv')

In [934]:
amount_data['Date'] = pd.to_datetime(amount_data['Date'], dayfirst = True)
amount_data = amount_data.sort_values(by = 'Date')
amount_data = amount_data.reset_index().drop(columns=['index'])
amount_data

          Date  Amount
0   2022-04-01       0
1   2022-04-02  239400
2   2022-04-03  274140
3   2022-04-04  177000
4   2022-04-05  106000
..         ...     ...
756 2024-04-26       0
757 2024-04-27  582650
758 2024-04-28  367700
759 2024-04-29  451000
760 2024-04-30  496000

[761 rows x 2 columns]

In [935]:
amount_data['day_of_year'] = amount_data['Date'].dt.dayofyear
amount_data['month'] = amount_data['Date'].dt.month
amount_data['day_of_week'] = amount_data['Date'].dt.dayofweek
amount_data

          Date  Amount  day_of_year  month  day_of_week
0   2022-04-01       0           91      4            4
1   2022-04-02  239400           92      4            5
2   2022-04-03  274140           93      4            6
3   2022-04-04  177000           94      4            0
4   2022-04-05  106000           95      4            1
..         ...     ...          ...    ...          ...
756 2024-04-26       0          117      4            4
757 2024-04-27  582650          118      4            5
758 2024-04-28  367700          119      4            6
759 2024-04-29  451000          120      4            0
760 2024-04-30  496000          121      4            1

[761 rows x 5 columns]

In [936]:
amount_data['lag_1'] = amount_data['Amount'].shift(1)
amount_data['lag_2'] = amount_data['Amount'].shift(2)

# Adding rolling statistics
amount_data['rolling_mean_7'] = amount_data['Amount'].rolling(window=7).mean()
amount_data['rolling_std_7'] = amount_data['Amount'].rolling(window=7).std()
amount_data.dropna(inplace=True)

In [937]:
# X = amount_data[['day_of_year', 'month', 'day_of_week']]
X = amount_data[['day_of_year', 'month', 'day_of_week', 'lag_1', 'lag_2', 'rolling_mean_7', 'rolling_std_7']]
y = amount_data['Amount']

In [938]:
X_initial, X_remaining, y_initial, y_remaining = train_test_split(X, y, train_size = 0.8, shuffle=False)

In [939]:
print(str(len(X_initial)) + " " + str(len(X_remaining)))

604 151

In [940]:
# Standardize features
scaler = StandardScaler()
X_initial = scaler.fit_transform(X_initial)
X_remaining = scaler.transform(X_remaining)

In [941]:
X_initial

array([[-1.05280148e+00, -9.59400497e-01, -8.29016701e-04, ...,
        -3.65056741e-01, -2.38480927e-01, -1.14634904e-01],
       [-1.04217335e+00, -9.59400497e-01,  4.99897071e-01, ...,
        -5.51669367e-01, -1.74114724e-01, -2.66977721e-01],
       [-1.03154521e+00, -9.59400497e-01,  1.00062316e+00, ...,
        -4.74325510e-01, -2.03968785e-01, -3.22538090e-01],
       ...,
       [ 1.45543897e+00,  1.31433566e+00, -5.01555104e-01, ...,
        -5.92151471e-01, -9.61598522e-01, -9.57887570e-01],
       [ 1.46606711e+00,  1.31433566e+00, -8.29016701e-04, ...,
        -8.68614621e-01, -8.60532290e-01, -7.47802579e-01],
       [ 1.47669525e+00,  1.63915511e+00,  4.99897071e-01, ...,
        -6.18481295e-01, -8.60532290e-01, -7.47802579e-01]])

In [942]:
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import mean_absolute_error

# Initialize the SGDRegressor model
model = SGDRegressor(max_iter=1000, tol=1e-3, learning_rate="adaptive")

# Fit the model on the initial data
model.partial_fit(X_initial, y_initial)

# Variables to track incremental learning performance
predictions = []
true_values = []
mse_scores = []

In [943]:
for i in range(len(X_remaining)):
    # Get the next sample
    X_new = X_remaining[i].reshape(1, -1)
    y_new = y_remaining.iloc[i]

    # Update the model with the new data point
    model.partial_fit(X_new, [y_new])

    # Make a prediction
    y_pred[0] = 0
    if not y_new == 0:
        y_pred = model.predict(X_new)
    predictions.append(y_pred[0])
    true_values.append(y_new)

    # Track performance
    mse = mean_absolute_error([y_new], y_pred)
    mse_scores.append(mse)

    print(f"Sample {i+1}: True value = {y_new}, Predicted value = {y_pred[0]}, MSE = {mse}")

# Print overall MSE after incremental learning
overall_mse = mean_absolute_error(true_values, predictions)
print(f"Overall Mean Squared Error after incremental learning: {overall_mse}")

Sample 1: True value = 145830, Predicted value = 26418.38915636082, MSE = 119411.61084363918
Sample 2: True value = 112800, Predicted value = 48715.080692978314, MSE = 64084.919307021686
Sample 3: True value = 153500, Predicted value = 80832.71305450326, MSE = 72667.28694549674
Sample 4: True value = 111000, Predicted value = 96154.04155521546, MSE = 14845.958444784541
Sample 5: True value = 163100, Predicted value = 104588.54712121005, MSE = 58511.45287878995
Sample 6: True value = 58300, Predicted value = 94667.12360810966, MSE = 36367.12360810966
Sample 7: True value = 0, Predicted value = 0.0, MSE = 0.0
Sample 8: True value = 132800, Predicted value = 49367.230250997454, MSE = 83432.76974900255
Sample 9: True value = 399350, Predicted value = 152237.55580745023, MSE = 247112.44419254977
Sample 10: True value = 38250, Predicted value = 186184.78127594333, MSE = 147934.78127594333
Sample 11: True value = 75900, Predicted value = 118918.84172968756, MSE = 43018.841729687556
Sample 12: True value = 50650, Predicted value = 91199.50784856758, MSE = 40549.50784856758
Sample 13: True value = 76800, Predicted value = 90672.7423091757, MSE = 13872.742309175694
Sample 14: True value = 0, Predicted value = 0.0, MSE = 0.0
Sample 15: True value = 113720, Predicted value = 76409.17135312635, MSE = 37310.82864687365
Sample 16: True value = 128350, Predicted value = 52829.66556491166, MSE = 75520.33443508834
Sample 17: True value = 205360, Predicted value = 87352.8385513238, MSE = 118007.1614486762
Sample 18: True value = 204800, Predicted value = 130834.63385014034, MSE = 73965.36614985966
Sample 19: True value = 57400, Predicted value = 130221.78681855841, MSE = 72821.78681855841
Sample 20: True value = 45700, Predicted value = 93262.37869543332, MSE = 47562.37869543332
Sample 21: True value = 0, Predicted value = 0.0, MSE = 0.0
Sample 22: True value = 77550, Predicted value = 65133.56888056453, MSE = 12416.431119435467
Sample 23: True value = 84900, Predicted value = 75531.26385507731, MSE = 9368.736144922688
Sample 24: True value = 103900, Predicted value = 63409.58905509715, MSE = 40490.41094490285
Sample 25: True value = 43800, Predicted value = 41929.31920277336, MSE = 1870.6807972266397
Sample 26: True value = 118350, Predicted value = 47528.00788377726, MSE = 70821.99211622274
Sample 27: True value = 176500, Predicted value = 88736.3370500709, MSE = 87763.6629499291
Sample 28: True value = 0, Predicted value = 0.0, MSE = 0.0
Sample 29: True value = 109750, Predicted value = 70571.21138287184, MSE = 39178.78861712816
Sample 30: True value = 99800, Predicted value = 89051.37640085077, MSE = 10748.623599149229
Sample 31: True value = 69300, Predicted value = 92288.03487727942, MSE = 22988.034877279424
Sample 32: True value = 59550, Predicted value = 84846.1661081264, MSE = 25296.166108126403
Sample 33: True value = 16850, Predicted value = 63892.64988561193, MSE = 47042.64988561193
Sample 34: True value = 232600, Predicted value = 84440.37356222405, MSE = 148159.62643777597
Sample 35: True value = 0, Predicted value = 0.0, MSE = 0.0
Sample 36: True value = 171900, Predicted value = 97168.46567873901, MSE = 74731.53432126099
Sample 37: True value = 9000, Predicted value = 95316.5274097025, MSE = 86316.5274097025
Sample 38: True value = 127950, Predicted value = 86712.40326453719, MSE = 41237.59673546281
Sample 39: True value = 134200, Predicted value = 112066.63959559423, MSE = 22133.360404405772
Sample 40: True value = 89100, Predicted value = 124033.3101081578, MSE = 34933.310108157806
Sample 41: True value = 129300, Predicted value = 102317.9929997772, MSE = 26982.007000222802
Sample 42: True value = 0, Predicted value = 0.0, MSE = 0.0
Sample 43: True value = 104400, Predicted value = 69148.39411292932, MSE = 35251.60588707068
Sample 44: True value = 131000, Predicted value = 99760.21042629972, MSE = 31239.789573700284
Sample 45: True value = 117300, Predicted value = 108968.90766109295, MSE = 8331.092338907052
Sample 46: True value = 76100, Predicted value = 97474.72985670116, MSE = 21374.72985670116
Sample 47: True value = 88600, Predicted value = 89409.51376538859, MSE = 809.5137653885904
Sample 48: True value = 191650, Predicted value = 108952.89738970867, MSE = 82697.10261029133
Sample 49: True value = 0, Predicted value = 0.0, MSE = 0.0
Sample 50: True value = 110900, Predicted value = 90987.64858788549, MSE = 19912.351412114513
Sample 51: True value = 124100, Predicted value = 101899.40074292688, MSE = 22200.599257073118
Sample 52: True value = 49000, Predicted value = 94577.65156549039, MSE = 45577.65156549039
Sample 53: True value = 98000, Predicted value = 87009.05322617109, MSE = 10990.94677382891
Sample 54: True value = 69800, Predicted value = 87611.77678545754, MSE = 17811.776785457536
Sample 55: True value = 130900, Predicted value = 81044.58310437789, MSE = 49855.41689562211
Sample 56: True value = 0, Predicted value = 0.0, MSE = 0.0
Sample 57: True value = 98000, Predicted value = 65137.180191809835, MSE = 32862.819808190165
Sample 58: True value = 74000, Predicted value = 68428.1795034517, MSE = 5571.820496548302
Sample 59: True value = 84000, Predicted value = 72580.75352791775, MSE = 11419.246472082246
Sample 60: True value = 51700, Predicted value = 65584.04328661395, MSE = 13884.043286613945
Sample 61: True value = 105500, Predicted value = 70371.7986848229, MSE = 35128.201315177095
Sample 62: True value = 151400, Predicted value = 86813.40463392266, MSE = 64586.59536607734
Sample 63: True value = 0, Predicted value = 0.0, MSE = 0.0
Sample 64: True value = 67950, Predicted value = 63383.37667341872, MSE = 4566.623326581277
Sample 65: True value = 45600, Predicted value = 61171.782743874835, MSE = 15571.782743874835
Sample 66: True value = 118150, Predicted value = 71621.16783104543, MSE = 46528.83216895457
Sample 67: True value = 111200, Predicted value = 91856.44346627784, MSE = 19343.556533722163
Sample 68: True value = 157300, Predicted value = 106297.91693805417, MSE = 51002.08306194583
Sample 69: True value = 265800, Predicted value = 141446.8760293636, MSE = 124353.1239706364
Sample 70: True value = 0, Predicted value = 0.0, MSE = 0.0
Sample 71: True value = 252700, Predicted value = 148358.50966599287, MSE = 104341.49033400713
Sample 72: True value = 183900, Predicted value = 187367.99935856104, MSE = 3467.9993585610355
Sample 73: True value = 286100, Predicted value = 223025.98432071618, MSE = 63074.015679283824
Sample 74: True value = 289000, Predicted value = 259440.09026151348, MSE = 29559.909738486516
Sample 75: True value = 58600, Predicted value = 238262.6238691621, MSE = 179662.6238691621
Sample 76: True value = 82500, Predicted value = 174915.36746305972, MSE = 92415.36746305972
Sample 77: True value = 0, Predicted value = 0.0, MSE = 0.0
Sample 78: True value = 107650, Predicted value = 123244.22621648005, MSE = 15594.226216480049
Sample 79: True value = 69950, Predicted value = 114854.83057548887, MSE = 44904.83057548887
Sample 80: True value = 114850, Predicted value = 99683.77772433689, MSE = 15166.222275663109
Sample 81: True value = 84950, Predicted value = 70509.12795204316, MSE = 14440.872047956844
Sample 82: True value = 204050, Predicted value = 97306.87600083037, MSE = 106743.12399916963
Sample 83: True value = 42350, Predicted value = 101922.6162789914, MSE = 59572.616278991394
Sample 84: True value = 0, Predicted value = 0.0, MSE = 0.0
Sample 85: True value = 204950, Predicted value = 86304.52575610098, MSE = 118645.47424389902
Sample 86: True value = 196700, Predicted value = 135271.6014121388, MSE = 61428.398587861186
Sample 87: True value = 128200, Predicted value = 147998.41428363114, MSE = 19798.414283631137
Sample 88: True value = 136600, Predicted value = 143158.3453280062, MSE = 6558.345328006195
Sample 89: True value = 102700, Predicted value = 125493.88345651199, MSE = 22793.88345651199
Sample 90: True value = 248150, Predicted value = 153757.6421847072, MSE = 94392.35781529281
Sample 91: True value = 0, Predicted value = 0.0, MSE = 0.0
Sample 92: True value = 151000, Predicted value = 127798.76714486937, MSE = 23201.232855130627
Sample 93: True value = 327000, Predicted value = 170288.2757484847, MSE = 156711.7242515153
Sample 94: True value = 412700, Predicted value = 252923.61970843718, MSE = 159776.38029156282
Sample 95: True value = 245200, Predicted value = 279180.01524655055, MSE = 33980.01524655055
Sample 96: True value = 248800, Predicted value = 272867.5018090705, MSE = 24067.501809070527
Sample 97: True value = 153000, Predicted value = 250771.9354964511, MSE = 97771.9354964511
Sample 98: True value = 0, Predicted value = 0.0, MSE = 0.0
Sample 99: True value = 320350, Predicted value = 229838.4902481501, MSE = 90511.5097518499
Sample 100: True value = 313600, Predicted value = 270831.70407513244, MSE = 42768.29592486756
Sample 101: True value = 266400, Predicted value = 255413.86292982227, MSE = 10986.137070177734
Sample 102: True value = 163700, Predicted value = 232899.24862320203, MSE = 69199.24862320203
Sample 103: True value = 215600, Predicted value = 214964.61214567669, MSE = 635.387854323315
Sample 104: True value = 147700, Predicted value = 217003.88924045514, MSE = 69303.88924045514
Sample 105: True value = 0, Predicted value = 0.0, MSE = 0.0
Sample 106: True value = 177100, Predicted value = 160231.29145426385, MSE = 16868.708545736154
Sample 107: True value = 157000, Predicted value = 159929.19934677775, MSE = 2929.19934677775
Sample 108: True value = 130300, Predicted value = 142003.91145532043, MSE = 11703.911455320427
Sample 109: True value = 102900, Predicted value = 128902.21864336423, MSE = 26002.218643364235
Sample 110: True value = 218150, Predicted value = 130044.47689537054, MSE = 88105.52310462946
Sample 111: True value = 188500, Predicted value = 151114.7482913493, MSE = 37385.2517086507
Sample 112: True value = 10400, Predicted value = 140469.4312400389, MSE = 130069.43124003889
Sample 113: True value = 86700, Predicted value = 104993.92332289326, MSE = 18293.923322893257
Sample 114: True value = 55400, Predicted value = 98561.54569559965, MSE = 43161.54569559965
Sample 115: True value = 109750, Predicted value = 101765.93855602214, MSE = 7984.061443977858
Sample 116: True value = 41600, Predicted value = 96456.40576109511, MSE = 54856.40576109511
Sample 117: True value = 128050, Predicted value = 75933.63719930449, MSE = 52116.36280069551
Sample 118: True value = 169600, Predicted value = 87533.92933417842, MSE = 82066.07066582158
Sample 119: True value = 73300, Predicted value = 95922.97933219888, MSE = 22622.979332198884
Sample 120: True value = 149700, Predicted value = 94503.93977990655, MSE = 55196.06022009345
Sample 121: True value = 249000, Predicted value = 138023.5824386787, MSE = 110976.41756132129
Sample 122: True value = 150800, Predicted value = 156135.08508995007, MSE = 5335.085089950066
Sample 123: True value = 132400, Predicted value = 151739.54323988318, MSE = 19339.543239883176
Sample 124: True value = 287300, Predicted value = 176836.74224112986, MSE = 110463.25775887014
Sample 125: True value = 228750, Predicted value = 203770.5791601813, MSE = 24979.42083981869
Sample 126: True value = 176650, Predicted value = 204184.15554619682, MSE = 27534.155546196824
Sample 127: True value = 277500, Predicted value = 217747.00455294107, MSE = 59752.99544705893
Sample 128: True value = 319100, Predicted value = 245272.44171051652, MSE = 73827.55828948348
Sample 129: True value = 327900, Predicted value = 274168.56984250667, MSE = 53731.430157493334
Sample 130: True value = 507500, Predicted value = 339998.4540907923, MSE = 167501.54590920772
Sample 131: True value = 268600, Predicted value = 351215.6501529929, MSE = 82615.65015299292
Sample 132: True value = 73500, Predicted value = 278707.50350750145, MSE = 205207.50350750145
Sample 133: True value = 0, Predicted value = 0.0, MSE = 0.0
Sample 134: True value = 208800, Predicted value = 220265.8994484526, MSE = 11465.899448452605
Sample 135: True value = 0, Predicted value = 0.0, MSE = 0.0
Sample 136: True value = 258650, Predicted value = 177520.35119411538, MSE = 81129.64880588462
Sample 137: True value = 216170, Predicted value = 177677.2162198642, MSE = 38492.7837801358
Sample 138: True value = 235800, Predicted value = 158630.31912538517, MSE = 77169.68087461483
Sample 139: True value = 233000, Predicted value = 179346.48559412797, MSE = 53653.51440587203
Sample 140: True value = 0, Predicted value = 0.0, MSE = 0.0
Sample 141: True value = 209900, Predicted value = 140796.3962171073, MSE = 69103.6037828927
Sample 142: True value = 234900, Predicted value = 198741.43393385276, MSE = 36158.566066147236
Sample 143: True value = 290400, Predicted value = 224808.06619278292, MSE = 65591.93380721708
Sample 144: True value = 271800, Predicted value = 234563.9985973689, MSE = 37236.00140263111
Sample 145: True value = 336100, Predicted value = 242613.26789359242, MSE = 93486.73210640758
Sample 146: True value = 320400, Predicted value = 260043.36369092113, MSE = 60356.636309078865
Sample 147: True value = 0, Predicted value = 0.0, MSE = 0.0
Sample 148: True value = 582650, Predicted value = 271227.97730383836, MSE = 311422.02269616164
Sample 149: True value = 367700, Predicted value = 344895.2202174949, MSE = 22804.779782505124
Sample 150: True value = 451000, Predicted value = 372407.07748581807, MSE = 78592.92251418193
Sample 151: True value = 496000, Predicted value = 420136.046211588, MSE = 75863.95378841198
Overall Mean Squared Error after incremental learning: 49503.1593807958