In [130]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [131]:
amount_data = pd.read_csv('dataset/Project Dataset/amount_data.csv')

In [132]:
amount_data['Date'] = pd.to_datetime(amount_data['Date'], dayfirst = True)
amount_data = amount_data.sort_values(by = 'Date')
amount_data = amount_data.reset_index().drop(columns=['index'])
amount_data

          Date  Amount
0   2022-04-01       0
1   2022-04-02  239400
2   2022-04-03  274140
3   2022-04-04  177000
4   2022-04-05  106000
..         ...     ...
756 2024-04-26       0
757 2024-04-27  582650
758 2024-04-28  367700
759 2024-04-29  451000
760 2024-04-30  496000

[761 rows x 2 columns]

In [133]:
amount_data['day_of_year'] = amount_data['Date'].dt.dayofyear
amount_data['month'] = amount_data['Date'].dt.month
amount_data['day_of_week'] = amount_data['Date'].dt.dayofweek
amount_data

          Date  Amount  day_of_year  month  day_of_week
0   2022-04-01       0           91      4            4
1   2022-04-02  239400           92      4            5
2   2022-04-03  274140           93      4            6
3   2022-04-04  177000           94      4            0
4   2022-04-05  106000           95      4            1
..         ...     ...          ...    ...          ...
756 2024-04-26       0          117      4            4
757 2024-04-27  582650          118      4            5
758 2024-04-28  367700          119      4            6
759 2024-04-29  451000          120      4            0
760 2024-04-30  496000          121      4            1

[761 rows x 5 columns]

In [134]:
amount_data['lag_1'] = amount_data['Amount'].shift(1)
amount_data['lag_2'] = amount_data['Amount'].shift(2)

# Adding rolling statistics
amount_data['rolling_mean_7'] = amount_data['Amount'].rolling(window=7).mean()
amount_data['rolling_std_7'] = amount_data['Amount'].rolling(window=7).std()
amount_data.dropna(inplace=True)

In [135]:
# X = amount_data[['day_of_year', 'month', 'day_of_week']]
X = amount_data[['day_of_year', 'month', 'day_of_week', 'lag_1', 'lag_2', 'rolling_mean_7', 'rolling_std_7']]
y = amount_data['Amount']

In [136]:
X_initial, X_remaining, y_initial, y_remaining = train_test_split(X, y, train_size = 0.8, shuffle=False)

In [137]:
print(str(len(X_initial)) + " " + str(len(X_remaining)))

604 151

In [138]:
# Standardize features
scaler = StandardScaler()
X_initial = scaler.fit_transform(X_initial)
X_remaining = scaler.fit_transform(X_remaining)

In [139]:
X_initial

array([[-1.05280148e+00, -9.59400497e-01, -8.29016701e-04, ...,
        -3.65056741e-01, -2.38480927e-01, -1.14634904e-01],
       [-1.04217335e+00, -9.59400497e-01,  4.99897071e-01, ...,
        -5.51669367e-01, -1.74114724e-01, -2.66977721e-01],
       [-1.03154521e+00, -9.59400497e-01,  1.00062316e+00, ...,
        -4.74325510e-01, -2.03968785e-01, -3.22538090e-01],
       ...,
       [ 1.45543897e+00,  1.31433566e+00, -5.01555104e-01, ...,
        -5.92151471e-01, -9.61598522e-01, -9.57887570e-01],
       [ 1.46606711e+00,  1.31433566e+00, -8.29016701e-04, ...,
        -8.68614621e-01, -8.60532290e-01, -7.47802579e-01],
       [ 1.47669525e+00,  1.63915511e+00,  4.99897071e-01, ...,
        -6.18481295e-01, -8.60532290e-01, -7.47802579e-01]])

In [140]:
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import mean_absolute_error

# Initialize the SGDRegressor model
model = SGDRegressor(max_iter=1000, tol=1e-3, learning_rate="adaptive")

# Fit the model on the initial data
model.fit(X_initial, y_initial)

# Variables to track incremental learning performance
predictions = []
true_values = []
mse_scores = []

C:\Users\CP LAB\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\linear_model\_stochastic_gradient.py:1616: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(

In [141]:
for i in range(len(X_remaining)):
    # Get the next sample
    X_new = X_remaining[i].reshape(1, -1)
    y_new = y_remaining.iloc[i]

    # Update the model with the new data point
    model.partial_fit(X_new, [y_new])

    # Make a prediction
    y_pred = [0]
    if not y_new == 0:
        y_pred = model.predict(X_new)
    predictions.append(y_pred[0])
    true_values.append(y_new)

    # Track performance
    mse = mean_absolute_error([y_new], y_pred)
    mse_scores.append(mse)

    print(f"Sample {i+1}: True value = {y_new}, Predicted value = {y_pred[0]}, MSE = {mse}")

# Print overall MSE after incremental learning
overall_mse = mean_absolute_error(true_values, predictions)
print(f"Overall Mean Squared Error after incremental learning: {overall_mse}")

Sample 1: True value = 145830, Predicted value = 43434.00896118776, MSE = 102395.99103881224
Sample 2: True value = 112800, Predicted value = 83457.47384661972, MSE = 29342.526153380284
Sample 3: True value = 153500, Predicted value = 105363.54292021006, MSE = 48136.457079789936
Sample 4: True value = 111000, Predicted value = 138051.23809460292, MSE = 27051.238094602915
Sample 5: True value = 163100, Predicted value = 152058.69928213334, MSE = 11041.30071786666
Sample 6: True value = 58300, Predicted value = 117128.95175282373, MSE = 58828.951752823734
Sample 7: True value = 0, Predicted value = 0, MSE = 0.0
Sample 8: True value = 132800, Predicted value = 114935.81833744951, MSE = 17864.181662550487
Sample 9: True value = 399350, Predicted value = 193025.24862641853, MSE = 206324.75137358147
Sample 10: True value = 38250, Predicted value = 112091.76573137156, MSE = 73841.76573137156
Sample 11: True value = 75900, Predicted value = 28975.73672140384, MSE = 46924.26327859616
Sample 12: True value = 50650, Predicted value = 99204.00893715036, MSE = 48554.008937150356
Sample 13: True value = 76800, Predicted value = 88978.44568924405, MSE = 12178.44568924405
Sample 14: True value = 0, Predicted value = 0, MSE = 0.0
Sample 15: True value = 113720, Predicted value = 71780.72043664934, MSE = 41939.27956335066
Sample 16: True value = 128350, Predicted value = 79443.74199913326, MSE = 48906.25800086674
Sample 17: True value = 205360, Predicted value = 115639.118414822, MSE = 89720.881585178
Sample 18: True value = 204800, Predicted value = 141858.21819075794, MSE = 62941.781809242064
Sample 19: True value = 57400, Predicted value = 108560.32956658387, MSE = 51160.32956658387
Sample 20: True value = 45700, Predicted value = 93000.71299268102, MSE = 47300.712992681016
Sample 21: True value = 0, Predicted value = 0, MSE = 0.0
Sample 22: True value = 77550, Predicted value = 107882.66837771947, MSE = 30332.66837771947
Sample 23: True value = 84900, Predicted value = 99285.96041502898, MSE = 14385.960415028982
Sample 24: True value = 103900, Predicted value = 90086.31805401536, MSE = 13813.681945984645
Sample 25: True value = 43800, Predicted value = 52165.79601048492, MSE = 8365.796010484919
Sample 26: True value = 118350, Predicted value = 64707.46232468946, MSE = 53642.53767531054
Sample 27: True value = 176500, Predicted value = 113883.19773073483, MSE = 62616.80226926517
Sample 28: True value = 0, Predicted value = 0, MSE = 0.0
Sample 29: True value = 109750, Predicted value = 70113.1719769981, MSE = 39636.8280230019
Sample 30: True value = 99800, Predicted value = 119943.86751464223, MSE = 20143.867514642232
Sample 31: True value = 69300, Predicted value = 93221.05396042312, MSE = 23921.053960423116
Sample 32: True value = 59550, Predicted value = 96698.19997554217, MSE = 37148.19997554217
Sample 33: True value = 16850, Predicted value = 61758.73984249012, MSE = 44908.73984249012
Sample 34: True value = 232600, Predicted value = 74327.04879838269, MSE = 158272.9512016173
Sample 35: True value = 0, Predicted value = 0, MSE = 0.0
Sample 36: True value = 171900, Predicted value = 29798.819349274854, MSE = 142101.18065072515
Sample 37: True value = 9000, Predicted value = 48052.755705365256, MSE = 39052.755705365256
Sample 38: True value = 127950, Predicted value = 62349.9732652847, MSE = 65600.0267347153
Sample 39: True value = 134200, Predicted value = 121763.32521831371, MSE = 12436.674781686292
Sample 40: True value = 89100, Predicted value = 107541.61285393882, MSE = 18441.612853938816
Sample 41: True value = 129300, Predicted value = 87156.43084625615, MSE = 42143.569153743854
Sample 42: True value = 0, Predicted value = 0, MSE = 0.0
Sample 43: True value = 104400, Predicted value = 69447.52597375396, MSE = 34952.47402624604
Sample 44: True value = 131000, Predicted value = 140758.4903291085, MSE = 9758.490329108492
Sample 45: True value = 117300, Predicted value = 138574.58794269094, MSE = 21274.587942690938
Sample 46: True value = 76100, Predicted value = 106990.34000122543, MSE = 30890.340001225428
Sample 47: True value = 88600, Predicted value = 108304.1389868235, MSE = 19704.1389868235
Sample 48: True value = 191650, Predicted value = 127084.6136288643, MSE = 64565.3863711357
Sample 49: True value = 0, Predicted value = 0, MSE = 0.0
Sample 50: True value = 110900, Predicted value = 89095.44439281162, MSE = 21804.555607188377
Sample 51: True value = 124100, Predicted value = 128557.30410764104, MSE = 4457.3041076410445
Sample 52: True value = 49000, Predicted value = 101407.88964865076, MSE = 52407.88964865076
Sample 53: True value = 98000, Predicted value = 106675.89183552645, MSE = 8675.891835526447
Sample 54: True value = 69800, Predicted value = 110790.01580932693, MSE = 40990.01580932693
Sample 55: True value = 130900, Predicted value = 87269.2098038727, MSE = 43630.7901961273
Sample 56: True value = 0, Predicted value = 0, MSE = 0.0
Sample 57: True value = 98000, Predicted value = 68950.4340574354, MSE = 29049.5659425646
Sample 58: True value = 74000, Predicted value = 78836.54233715471, MSE = 4836.542337154708
Sample 59: True value = 84000, Predicted value = 96623.39677471796, MSE = 12623.396774717956
Sample 60: True value = 51700, Predicted value = 80288.73483233427, MSE = 28588.734832334274
Sample 61: True value = 105500, Predicted value = 87350.29554468275, MSE = 18149.704455317245
Sample 62: True value = 151400, Predicted value = 83034.71495929075, MSE = 68365.28504070925
Sample 63: True value = 0, Predicted value = 0, MSE = 0.0
Sample 64: True value = 67950, Predicted value = 44229.2697129444, MSE = 23720.7302870556
Sample 65: True value = 45600, Predicted value = 64724.59332221122, MSE = 19124.59332221122
Sample 66: True value = 118150, Predicted value = 90433.45134592308, MSE = 27716.54865407692
Sample 67: True value = 111200, Predicted value = 104130.59072691435, MSE = 7069.40927308565
Sample 68: True value = 157300, Predicted value = 92208.43601876847, MSE = 65091.563981231535
Sample 69: True value = 265800, Predicted value = 101894.92015271868, MSE = 163905.07984728133
Sample 70: True value = 0, Predicted value = 0, MSE = 0.0
Sample 71: True value = 252700, Predicted value = 118943.29403709805, MSE = 133756.70596290193
Sample 72: True value = 183900, Predicted value = 206976.91975050044, MSE = 23076.91975050044
Sample 73: True value = 286100, Predicted value = 227579.28989568303, MSE = 58520.71010431697
Sample 74: True value = 289000, Predicted value = 284613.5883036769, MSE = 4386.411696323077
Sample 75: True value = 58600, Predicted value = 196957.26154041057, MSE = 138357.26154041057
Sample 76: True value = 82500, Predicted value = 160123.1827530489, MSE = 77623.1827530489
Sample 77: True value = 0, Predicted value = 0, MSE = 0.0
Sample 78: True value = 107650, Predicted value = 166580.8845686231, MSE = 58930.88456862309
Sample 79: True value = 69950, Predicted value = 128989.78546029117, MSE = 59039.78546029117
Sample 80: True value = 114850, Predicted value = 112010.89164334905, MSE = 2839.108356650948
Sample 81: True value = 84950, Predicted value = 93144.86647978897, MSE = 8194.866479788965
Sample 82: True value = 204050, Predicted value = 106510.86363046631, MSE = 97539.13636953369
Sample 83: True value = 42350, Predicted value = 76250.40481658143, MSE = 33900.40481658143
Sample 84: True value = 0, Predicted value = 0, MSE = 0.0
Sample 85: True value = 204950, Predicted value = 121972.1788948403, MSE = 82977.8211051597
Sample 86: True value = 196700, Predicted value = 139646.83844885178, MSE = 57053.16155114822
Sample 87: True value = 128200, Predicted value = 122509.9411100793, MSE = 5690.058889920707
Sample 88: True value = 136600, Predicted value = 145692.24804901573, MSE = 9092.248049015732
Sample 89: True value = 102700, Predicted value = 132049.19446065303, MSE = 29349.19446065303
Sample 90: True value = 248150, Predicted value = 189137.488931357, MSE = 59012.51106864301
Sample 91: True value = 0, Predicted value = 0, MSE = 0.0
Sample 92: True value = 151000, Predicted value = 134530.99892925625, MSE = 16469.001070743747
Sample 93: True value = 327000, Predicted value = 201862.48199481057, MSE = 125137.51800518943
Sample 94: True value = 412700, Predicted value = 240398.06589892192, MSE = 172301.93410107808
Sample 95: True value = 245200, Predicted value = 212509.97801773073, MSE = 32690.021982269274
Sample 96: True value = 248800, Predicted value = 252461.1310836718, MSE = 3661.1310836717894
Sample 97: True value = 153000, Predicted value = 254553.2855438122, MSE = 101553.2855438122
Sample 98: True value = 0, Predicted value = 0, MSE = 0.0
Sample 99: True value = 320350, Predicted value = 336385.8337849885, MSE = 16035.8337849885
Sample 100: True value = 313600, Predicted value = 335588.7001431977, MSE = 21988.700143197726
Sample 101: True value = 266400, Predicted value = 255587.68983540183, MSE = 10812.310164598166
Sample 102: True value = 163700, Predicted value = 223655.85636690995, MSE = 59955.85636690995
Sample 103: True value = 215600, Predicted value = 235203.46848343132, MSE = 19603.468483431323
Sample 104: True value = 147700, Predicted value = 250399.38590906793, MSE = 102699.38590906793
Sample 105: True value = 0, Predicted value = 0, MSE = 0.0
Sample 106: True value = 177100, Predicted value = 229210.80544335733, MSE = 52110.80544335733
Sample 107: True value = 157000, Predicted value = 219370.19179999077, MSE = 62370.191799990775
Sample 108: True value = 130300, Predicted value = 186890.1111926306, MSE = 56590.111192630604
Sample 109: True value = 102900, Predicted value = 168488.48785164734, MSE = 65588.48785164734
Sample 110: True value = 218150, Predicted value = 174573.33136304587, MSE = 43576.66863695413
Sample 111: True value = 188500, Predicted value = 170333.13739425482, MSE = 18166.862605745177
Sample 112: True value = 10400, Predicted value = 129113.56777231907, MSE = 118713.56777231907
Sample 113: True value = 86700, Predicted value = 126171.58406500862, MSE = 39471.58406500862
Sample 114: True value = 55400, Predicted value = 133595.69384756518, MSE = 78195.69384756518
Sample 115: True value = 109750, Predicted value = 160121.51891801256, MSE = 50371.51891801256
Sample 116: True value = 41600, Predicted value = 129234.7645903237, MSE = 87634.7645903237
Sample 117: True value = 128050, Predicted value = 101398.46522579793, MSE = 26651.534774202068
Sample 118: True value = 169600, Predicted value = 107563.03707329396, MSE = 62036.96292670604
Sample 119: True value = 73300, Predicted value = 92685.24295918367, MSE = 19385.24295918367
Sample 120: True value = 149700, Predicted value = 98531.66051923911, MSE = 51168.339480760886
Sample 121: True value = 249000, Predicted value = 156712.54881543235, MSE = 92287.45118456765
Sample 122: True value = 150800, Predicted value = 167479.3033685789, MSE = 16679.303368578898
Sample 123: True value = 132400, Predicted value = 178292.61202253314, MSE = 45892.61202253314
Sample 124: True value = 287300, Predicted value = 237584.72256056787, MSE = 49715.27743943213
Sample 125: True value = 228750, Predicted value = 231599.34167229413, MSE = 2849.341672294133
Sample 126: True value = 176650, Predicted value = 222411.9245837961, MSE = 45761.92458379609
Sample 127: True value = 277500, Predicted value = 278981.214992166, MSE = 1481.214992165973
Sample 128: True value = 319100, Predicted value = 288905.215335425, MSE = 30194.78466457501
Sample 129: True value = 327900, Predicted value = 343271.8017186079, MSE = 15371.801718607894
Sample 130: True value = 507500, Predicted value = 417107.7051380776, MSE = 90392.29486192239
Sample 131: True value = 268600, Predicted value = 354566.8283407687, MSE = 85966.8283407687
Sample 132: True value = 73500, Predicted value = 204004.12220744864, MSE = 130504.12220744864
Sample 133: True value = 0, Predicted value = 0, MSE = 0.0
Sample 134: True value = 208800, Predicted value = 271791.2682270428, MSE = 62991.268227042805
Sample 135: True value = 0, Predicted value = 0, MSE = 0.0
Sample 136: True value = 258650, Predicted value = 139939.90340345656, MSE = 118710.09659654344
Sample 137: True value = 216170, Predicted value = 178273.89412842033, MSE = 37896.10587157967
Sample 138: True value = 235800, Predicted value = 69503.00983835151, MSE = 166296.9901616485
Sample 139: True value = 233000, Predicted value = 120923.75358251712, MSE = 112076.24641748288
Sample 140: True value = 0, Predicted value = 0, MSE = 0.0
Sample 141: True value = 209900, Predicted value = 129221.30065934049, MSE = 80678.69934065951
Sample 142: True value = 234900, Predicted value = 272145.360562467, MSE = 37245.360562467016
Sample 143: True value = 290400, Predicted value = 259983.1333936606, MSE = 30416.866606339405
Sample 144: True value = 271800, Predicted value = 242723.4186341802, MSE = 29076.581365819788
Sample 145: True value = 336100, Predicted value = 234338.38664668694, MSE = 101761.61335331306
Sample 146: True value = 320400, Predicted value = 244793.92740681046, MSE = 75606.07259318954
Sample 147: True value = 0, Predicted value = 0, MSE = 0.0
Sample 148: True value = 582650, Predicted value = 325730.4439607387, MSE = 256919.55603926128
Sample 149: True value = 367700, Predicted value = 355973.40616187564, MSE = 11726.593838124361
Sample 150: True value = 451000, Predicted value = 360457.834272483, MSE = 90542.16572751699
Sample 151: True value = 496000, Predicted value = 473690.36523921613, MSE = 22309.63476078387
Overall Mean Squared Error after incremental learning: 46148.364349232645