In [47]:
import pickle
import pandas as pd
from sklearn.preprocessing import StandardScaler
from datetime import date, datetime, timedelta

In [48]:
start_date = datetime(2022, 4, 1)
dates = [start_date + timedelta(days=i) for i in range(365 * 3)]

df = pd.DataFrame({'Date': dates})

df['day_of_year'] = df['Date'].dt.dayofyear
df['month'] = df['Date'].dt.month
df['day_of_week'] = df['Date'].dt.dayofweek  # Monday=0, Sunday=6

scaler = StandardScaler()
scaled_features = scaler.fit_transform(df[['day_of_year', 'month', 'day_of_week']])

df_scaled = pd.DataFrame(scaled_features, columns=['day_of_year_scaled', 'month_scaled', 'day_of_week_scaled'])
df = pd.concat([df, df_scaled], axis=1)

df

,Date,day_of_year,month,day_of_week,day_of_year_scaled,month_scaled,day_of_week_scaled
0,2022-04-01,91,4,4,-0.874648,-0.732147,0.497149
1,2022-04-02,92,4,5,-0.865167,-0.732147,0.997036
2,2022-04-03,93,4,6,-0.855686,-0.732147,1.496924
3,2022-04-04,94,4,0,-0.846205,-0.732147,-1.502402
4,2022-04-05,95,4,1,-0.836724,-0.732147,-1.002515
...,...,...,...,...,...,...,...
1090,2025-03-26,85,3,2,-0.931535,-1.022093,-0.502627
1091,2025-03-27,86,3,3,-0.922054,-1.022093,-0.002739
1092,2025-03-28,87,3,4,-0.912573,-1.022093,0.497149
1093,2025-03-29,88,3,5,-0.903091,-1.022093,0.997036
1094,2025-03-30,89,3,6,-0.893610,-1.022093,1.496924

In [49]:
# Opening saved model
with open("model/classifier.pkl", "rb") as file:
    classifier = pickle.load(file)

In [50]:
product_data = pd.read_csv("dataset/Project Dataset/product.csv")

In [51]:
product_data = product_data.sort_values("product").reset_index().drop(columns=['index'])
product_data

             product   id  price
0            12 C AC  101  67300
1        12 inch Fan   57   3990
2        14 inch Fan   56   4490
3        17 inch Fan   54   6290
4            18 A AC   99  49900
..               ...  ...    ...
118      Tornedo Fan   66   1090
119        Wall Move   68   3130
120  Washing Machine   84  19900
121     Water Filter   69   3900
122     Weight Scale   64   1200

[123 rows x 3 columns]

In [52]:
today = date.today()
prediction_dates = [today + timedelta(days = i) for i in range(30)]

sql = "INSERT INTO `predictions` (`id`, `date`, `product_id`, `unit`, `user_id`, `created_at`, `updated_at`) VALUES "

for date in prediction_dates:
    result = classifier.predict(pd.DataFrame({'day_of_year': date.timetuple().tm_yday, 'month':date.month, 'day_of_week':date.weekday()}, index = [0]))
    i = 0
    for value in result[0]:
        if not value == 0:
            sql += "(NULL, '" + str(date) + "', '" + str(product_data['id'][i]) + "', '" + str(value) + "', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),"
        i += 1
print(sql)

INSERT INTO `predictions` (`id`, `date`, `product_id`, `unit`, `user_id`, `created_at`, `updated_at`) VALUES (NULL, '2024-09-07', '54', '2', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-07', '141', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-07', '127', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-07', '88', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-07', '83', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-07', '81', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-07', '67', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-08', '56', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-08', '153', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-08', '87', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-08', '133', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-08', '88', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-08', '71', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-08', '55', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-09', '57', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-09', '54', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-09', '156', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-09', '88', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-09', '21', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-09', '71', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-09', '73', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-09', '81', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-09', '67', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-10', '88', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-11', '149', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-12', '56', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-12', '54', '3', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-12', '141', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-12', '134', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-12', '128', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-12', '25', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-12', '123', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-12', '115', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-12', '83', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-12', '76', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-12', '81', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-12', '91', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-14', '56', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-14', '54', '2', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-14', '88', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-14', '71', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-14', '83', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-14', '81', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-15', '54', '3', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-15', '156', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-15', '153', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-15', '123', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-15', '34', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-15', '81', '2', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-16', '56', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-16', '54', '2', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-16', '156', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-16', '148', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-16', '87', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-16', '140', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-16', '83', '2', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-16', '75', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-17', '54', '2', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-17', '148', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-18', '56', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-18', '156', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-18', '148', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-18', '149', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-18', '71', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-18', '76', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-18', '75', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-19', '54', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-19', '156', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-19', '76', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-20', '54', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-21', '87', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-21', '71', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-22', '54', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-22', '141', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-22', '19', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-23', '87', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-23', '141', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-23', '89', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-24', '141', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-24', '88', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-24', '75', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-25', '127', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-25', '82', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-25', '72', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-25', '80', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-26', '54', '2', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-26', '156', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-26', '88', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-26', '76', '2', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-28', '54', '2', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-28', '156', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-28', '149', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-28', '88', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-09-29', '76', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-10-01', '156', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-10-01', '88', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-10-01', '76', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-10-02', '54', '2', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-10-02', '115', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-10-03', '134', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-10-03', '72', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-10-03', '76', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-10-05', '56', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-10-05', '153', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-10-05', '71', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-10-05', '83', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-10-05', '75', '2', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),(NULL, '2024-10-05', '81', '1', '5', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),